.magazines-gallery-header {
    background-color: #ED037C;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
}

.magazines-gallery-container {
    margin-top: 10px;
    padding-bottom: 5px;
}

.magazines-gallery-navigation {
    .right {
        float: right;
    }

    .left {
        float: left;
    }
}