.magazines-list-item {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.magazines-list-item-caption {
    font-size: 11px;
    font-weight: bold;
}